streamlit==1.41.1  # original app ran with 1.14.0
pandas==1.5.1
lxml==4.9.1
plotly==5.13.0
numpy==1.26.4     # old pandas is not compatible with numpy >= 2.0.0 (June 2024), thus force last numpy 1. version
